﻿@model DarzinTest.ViewModels.CustomerDetailData

@{
    ViewBag.Title = "Customer Details";
}
@Html.AntiForgeryToken()
<h2>Customer Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.LastName)
        </dd>
    </dl>

    <h4>Purchases</h4>
    <table class="table" id="purchase-table">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
        @foreach (var item in Model.customer.Purchases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    <input type="button" value="Delete" class="btn btn-default" onclick="deletePurchase(this, @item.ID)" />
                </td>
            </tr>
        }
    </table>

    <h4>Products</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <input type="button" value="Purchase" class="btn btn-default" onclick="addPurchase(@item.ID)" />
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">
    function formatMoney(number) {
        return number.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
    }

    function addPurchase(id) {
        $.ajax({
            url: "@Url.Action("Purchase", "Customer")",
            type: "POST",
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                CustomerID: @Model.customer.ID,
                ProductID: id
            },
            success: function (resp) {
                if (resp.result === 'success') {
                    $('#purchase-table tbody').append('<tr><td>' + resp.data.Name + '</td><td>' + formatMoney(resp.data.Price) + '</td></tr>');
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        })
    }

    function deletePurchase(obj, id) {
        console.log(obj);
        $.ajax({
            url: "@Url.Action("Delete", "Purchase")" + "/" + id,
            type: "POST",
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (resp) {
                if (resp.result === 'success') {
                    $(obj).closest('tr').remove();
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        })
    }
</script>